@media screen and (min-width: 1001px){
    body{
        background-color: #8753BD;
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
        background: linear-gradient(
            to right top,
            #901EA3,
            #D2A5CA);
    }

    body h1{
        text-align: center;
    }
    .main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 85px;
        margin: 85px;
        grid-template-areas: 
        "nav temp meting"
        "kost weer verbruik";
    }
    .item{
        background-color: #360A6D;
        color: white;
        width: 450px;
        height: 450px;
        
    }
    .nav{
        grid-area: nav;
        text-align: center;
    }
    .temp{
        grid-area: temp;
        display: flex;
        align-items: center;
        flex-direction: column;
        fill: #fff;
    }
    .meting{
        grid-area: meting;
        text-align: center;
    }
    .kosten{
        grid-area: kost;
    }
    .weer{
        grid-area: weer;
        text-align: center;
    }
    .verbruik{
       grid-area: verbruik;
       text-align: center;
    }
    button {
        margin: 15px; 
        padding: 15px; 
        border-radius: 30px;
        width: 150px;
        height: 60px;
        text-align: center;
    }

    #eenheid{
        font-size: .3rem;
    } 
    input{
        color: vlue;
    }
    #thermo{
        width: 150px;
        padding: 30px;
        font-size: .5rem;
    }
    svg{
        padding: 10px;
        font-size: .5rem;
    }
    .item h1{
        text-align: center;
    }
    .kosten input{
        width: 100px;
    }

    .kosten button{
        display: block;
        margin-bottom: 40px;
        margin-left: auto;
        
    }
    #kosten2{
        padding-left: 40px;
    }
} 

@media screen and (max-width: 1000px) {
    body{
        background-color: #8753BD;
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }
    .main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 40px;
        margin: 10px;
        grid-template-areas: 
        "nav temp"
        "meting kost"
        "weer verbruik";
    }
    .item{
        background-color: #360A6D;
        color: white;
        width: 450px;
        height: 450px;
    }
    .nav{
        grid-area: nav;
    }
    .temp{
        grid-area: temp;
        display: flex;
        align-items: center;
        flex-direction: column;
        
        fill: #fff;
        
    }
    .meting{
        grid-area: meting;
    }
    .kosten{
        grid-area: kost;
        
    }
    .weer{
        grid-area: weer;
    }
    .verbruik{
       grid-area: verbruik;
    }
    button {
        margin-top: 4px; 
        padding: 15px; 
        border-radius: 30px;
        width: 120px;
        height: 50px;
        text-align: center;
    }

    #eenheid{
        font-size: .3rem;
    } 
    input{
        color: vlue;
    }
    #thermo{
        width: 150px;
        padding: 20px;
        font-size: .5rem;
    }
    svg{
        font-size: .5rem;
    }
    .kosten input{
        width: 100px;
    }

    #kosten2{
        display: block;
        margin-bottom: 40px;
        margin-left: auto;
        
        padding-left: 40px;
        
    }

}


@media screen and (max-width: 600px) {
    body{
        background-color: #8753BD;
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        
    }
    .main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
        margin: 25px;
        grid-template-areas: 
        "nav"
        "temp"
        "meting"
        "kost"
        "weer"
        "verbruik";
    }
    .item{
        background-color: #360A6D;
        color: white;
        width: 450px;
        height: 450px;
        
    }
    .nav{
        grid-area: nav;
    }
    .temp{
        grid-area: temp;
        display: flex;
        align-items: center;
        flex-direction: column;
        
        fill: #fff;
    }
    .meting{
        grid-area: meting;
    }
    .kosten{
        grid-area: kost;

    }
    .weer{
        grid-area: weer;
    }
    .verbruik{
       grid-area: verbruik;
    }
    button {
        margin-top: 1px; 
        padding: 15px; 
        border-radius: 30px;
        width: 120px;
        height: 50px;
        text-align: center;
    }

    #eenheid{
        font-size: .3rem;
    } 
    input{
        color: vlue;
    }
    #thermo{
        width: 140px;
        padding: 20px;
        font-size: .5rem;
    }
    svg{
        font-size: .5rem;
    }
    .kosten input{
        width: 100px;
    }


}
