@media screen and (min-width: 1001px){
    body{
        background-color: #8753BD;
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }
    .main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 40px;
        margin: 40px;
        grid-template-areas: 
        "nav temp meting"
        "kost weer verbruik";
    }
    .item{
        background-color: #360A6D;
        color: white;
        
        height: 400px;
    }
    .nav{
        grid-area: nav;
    }
    .temp{
        grid-area: temp;
    }
    .meting{
        grid-area: meting;
    }
    .kosten{
        grid-area: kost;
    }
    .weer{
        grid-area: weer;
    }
    .verbruik{
       grid-area: verbruik;
    }
} 