@media screen and (min-width: 1001px){
    body{
        background-color: #8753BD;
        width: fit-content;
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }
    .main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 85px;
        margin: 175px;
        grid-template-areas: 
        "nav temp meting"
        "kost weer verbruik";
    }
    .item{
        background-color: #360A6D;
        color: white;
        width: 450px;
        height: 450px;
    }
    .nav{
        grid-area: nav;
    }
    .temp{
        grid-area: temp;
    }
    .meting{
        grid-area: meting;
    }
    .kosten{
        grid-area: kost;
    }
    .weer{
        grid-area: weer;
    }
    .verbruik{
       grid-area: verbruik;
    }
    button {
        margin-top: 10px; 
        padding: 30px; 
        border-radius: 30px;
        width: 186px;
        height: 87px;
        text-align: center;
    }

    
} 


@media screen and (min-width: 1001px){
    body{
        background-color: #8753BD;
        font-size: 20px;
        grid-column: 1fr 1fr;
        grid-row: 1fr;
        font-family: 'Open Sans', sans-serif;
    }

    .main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 40px;
        margin: 40px;
        
        grid-template-areas: 
        "huis sec"
        ;
    }


    img{
        width: 700px;
        margin: 40px;
        height: 363px;
    }

    button {
        margin-top: 50px; 
        padding: 30px; 
        border-radius: 30px;
        width: 186px;
        height: 87px;
        text-align: center;
    }




    .huis {
        padding: 70px;
        background-color: #360A6D;
        color: white;
        grid-area: huis;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        min-height: 75vh;
    }

    .security {
        padding: 70px;
        background-color: #360A6D;
        color: white;
        grid-area: sec;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        min-height: 75vh;
    }
} 

@media screen and (max-width: 1000px) {
    body{
    
        background-color: #8753BD;
        font-size: 20px;
        grid-column: 1fr 1fr;
        grid-row: 1fr;
        font-family: 'Open Sans', sans-serif;
    }
    
    .main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 60px;
        margin: 40px;
        
        grid-template-areas: 
        "huis huis"
        "sec sec"
        ;
       
    }
    .huis {
        min-height: 1vh;
    }

    .security {
        min-height: 1vh;
        
    }
    img{
        width: 200%;
        
    }

    button {
        margin-top: 50px; 
        padding: 30px; 
        border-radius: 30px;
        width: 186px;
        height: 87px;
        text-align: center;
    }
    #button {
        margin-top: -20px;
    }
    


    .huis {
        padding: 70px;
        background-color: #360A6D;
        color: white;
        grid-area: huis;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        min-height: 40vh;
    }

    .security {
        padding: 70px;
        background-color: #360A6D;
        color: white;
        grid-area: sec;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        min-height: 40vh;
    }
}

@media screen and (max-width: 600px) {
    body{
    
        background-color: #8753BD;
        font-size: 20px;
        grid-column: 1fr 1fr;
        grid-row: 1fr;
        font-family: 'Open Sans', sans-serif;
    }
    
    .main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 60px;
        margin: 40px;
        
        grid-template-areas: 
        "huis"
        "sec"
        ;
    }
    .huis {
        min-height: 1vh;
    }

    .security {
        min-height: 1vh;
        
    }
    img {
        width: 150%;
        margin-top: -45px;
    }
    #button {
        margin-top: -60px;
    }

    button {
        margin-top: 90px; 
        padding: 30px; 
        border-radius: 30px;
        width: 186px;
        height: 87px;
        text-align: center;
    }

    .huis {
        padding: 70px;
        background-color: #360A6D;
        color: white;
        grid-area: huis;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        min-height: 1fr;
    }

    .security {
        padding: 70px;
        background-color: #360A6D;
        color: white;
        grid-area: sec;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        min-height: 1fr;
    }
}